body{
    background-color: white;
    color:black;
    transition:all 0.3s ease;
    text-align: center;
    padding: 50px;
}
button{
    border:none;
    border-radius: 10px;
    color:white;
    background-color: green;
    cursor:pointer;
}
button:hover{
    background-color: rgb(105, 34, 213);
}
.dark{
    color:white;
    background-color:#1e1e1e;
    
}